@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("./img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  background-color: wheat;
  padding: 15px;
  width: 60%;
  height: 70%;
  background: transparent;
  backdrop-filter: blur(20px);
}

.interface {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.task-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tasks {
  display: flex;
  gap: 10px;
  background-color: blue;
  color: white;
  padding: 10px;
  border: solid black 2px;
  background: transparent;
  border-radius: 15px;
}

h2 {
  text-align: center;
  color: wheat;
}
.btn-area {
  display: flex;
  justify-content: end;
}

.add-btn {
  border-radius: 25px;
  border: none;
}

.add-btn i {
  width: 100px;
}
